.user-sub-layout {
  display: flex;

  aside {
    width: 200px;
    nav a {
      color: #333;
      padding: 0.2em 1em;
      display: block;
      &.active {
        background-color: #555;
        color: #fff;
      }
    }
  }
  .primary-content {
    flex: 1;
    margin-left: 2em;
  }
}