
@import 'site-css/vars';
@import 'site-css/extensions';

.container {
  padding-top: $header-height + 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-template-rows: minmax(100px, auto);
}

